// Primary Colors
$primary-color: #162753;
$primary-lighter-color: #445275;
$primary-darker-color: #0f1b3a;

// Secondary Colors
$while-color: #ffffff;
$black-color: #000000;

$grey-1-color: #f9f9f9;
$grey-2-color: #535353;
$grey-3-color: #c4c4c4;
$grey-4-color: #eaeaea;
$grey-5-color: #adadad;

$dark-1-color: #181818;
$dark-2-color: #212121;
$dark-3-color: #383838;

// Specific Colors

// Export for JS Script
:export {
  PRIMARY: $primary-color;
  PRIMARY_LIGHTER: $primary-lighter-color;
  PRIMARY_DARKER: $primary-darker-color;

  WHITE: $while-color;
  BLACKE: $black-color;

  GREY1: $grey-1-color;
  GREY2: $grey-2-color;
  GREY3: $grey-3-color;
  GREY4: $grey-4-color;
  GREY5: $grey-5-color;

  DARK1: $dark-1-color;
  DARK2: $dark-2-color;
  DARK3: $dark-3-color;
}

:root {
  --background-color: #{$grey-1-color};
}
