html,
body {
  margin: 0;
  font-family: 'Poppins', 'Prompt', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  html,
  body {
    font-size: 20px;
  }
}
