@import 'cursor.css';
@import 'display.css';
@import 'element.css';
@import 'error.css';
@import 'font.css';
@import 'size.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'NotoSans', 'Poppins', 'Prompt', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}
